

/* Mine */
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Serif"), local("NotoSerif"), url("/static/fonts/NotoSerif.woff") format("woff");
}

* {
	 font-family: "Helvetica Neue", Helvetica, Microsoft YaHei Noto, Serif, serif  ;
}

#username, #password, #email, #nickname{
  width: 20%;
}

.br-head:hover{
  text-decoration: none!important;
}

.highlight { background-color: yellow }

.page-header h1 a{
color:#777777;
text-decoration:none;
}
.page-header h1 a:hover{
  color: #666666;
}

.split{
  padding-left: 4px;
  padding-right: 4px;
}

.up{
  padding-top: 4px;
}

body {
  /*background: url(/static/images/bg.jpg) no-repeat center center fixed;*/
  background-color: #f7f7f7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}