<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ url_for('static',filename='pinbot.ico') }}"/>
	<link rel="bookmark" href="{{ url_for('static',filename='pinbot.ico') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
    <script src="{{ url_for('static',filename='dropdown.js') }}"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Room</title>
</head>


<body>

<div class="container-fluid">

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="page-header">
          <h1><a class="br-head" href="{{ url_for('main.index') }}">Book Room</a></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <p style="color: red">{{ message }}</p>
            {% endfor %}
          {% else %}
            <p style="color: red; visibility: hidden;">-</p>
          {% endif %}
        {% endwith %}
        </div>

    {% block content %}
    {% endblock %}
    <div>

      <br />
      <footer class="footer">
        <p>&copy; Pinbot 2015</p>
      </footer>
    </div>
    </div>

    <div class="col-md-2"></div>




</div>
</div>
</body>
</html>

