<!DOCTYPE HTML>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>
	<link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ url_for('static',filename='pinbot.ico') }}"/>
	<link rel="bookmark" href="{{ url_for('static',filename='pinbot.ico') }}"/>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
    <script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='highlight.js') }}"></script>
    <script src="{{ url_for('static',filename='dropdown.js') }}"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>藏经阁</title>
</head>


<body>

<div class="container-fluid">

<!-- 头部 -->
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="page-header">
              <h1><img src="{{ url_for('static',filename='images/pinbot-logo.png') }}" class="img-rounded"><a class="br-head" href="{{ url_for('main.index') }}" > 藏经阁</a></h1>
            </div>
        </div>
    </div>

<!-- 表格 -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    <p style="color: red">{{ message }}</p>
                {% endfor %}
              {% else %}
                <p style="color: red; visibility: hidden;">-</p>
              {% endif %}
            {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-1"></div>
    </div>


</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <footer class="footer">
        <br /><br />
        <p>&copy; Pinbot 2015</p>
        <div style="display:none"> <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252961930'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1252961930%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script> </div>
      </footer>
    </div>

</div>

</body>
</html>

