{% extends "base.html" %}
{% block content %}
<h3>书籍: </h3>
<div><a href="{{ book.raw_url }}" target="_blank" title="打开原添加网址"><img src="{{ book.img_url }}" /></a></div>
<div><a href="{{ book.raw_url }}" target="_blank" title="打开原添加网址">{{ book.title }}</a></div>
<p>作者: {{ book.author }}</p>
<p>评分: {{ book.rate }}</p>
<h3>简介: </h3>
{% for d in book.detail %}
    <p>{{ d }}</p>
{% endfor %}

<h3>评论</h3>
{% for comment in book.comment %}
<div>{{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }} <strong>{{ comment.name.real_name }}</strong> 说: {{ comment.content }}</div>
{% endfor %}

<form action="/handle_comment" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="content" placeholder="">
    <input name="book_id" type="text" value="{{ book.id }}" style="display: none"/>
  </div>
  <button type="submit" class="btn btn-default">添加评论</button>
</form>


<h3>借阅记录</h3>
{% for deliver in delivers %}
    <p>{{ deliver.user.real_name  }} 在 {{ deliver.borrow_time.strftime('%Y-%m-%d') }} 借过这本书</p>
{% endfor %}
    
{% endblock %}