{% extends "base.html" %}
{% block content %}
<h3><a href="{{ book.raw_url }}" target="_blank" title="打开原添加网址">{{ book.title }}</a></h3>
<div><a href="{{ book.raw_url }}" target="_blank" title="打开原添加网址"><img src="{{ book.img_url }}" /></a></div>


<h3>评论</h3>
{% if not book.comment %}
    <div class="alert alert-warning" role="alert">还没有讨论</div>
{% else %}
    {% for comment in book.comment %}

    <div>
        {{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }}
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <strong> {{ comment.name.nickname }} </strong>:
        {{ comment.content }}
    </div>
    {% endfor %}
{% endif %}
<form action="/handle_comment" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="content" placeholder="">
    <input name="book_id" type="text" value="{{ book.id }}" style="display: none"/>
  </div>
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 添加评论</button>
</form>

<h3>借阅记录</h3>
{% if not delivers %}
    <div class="alert alert-warning" role="alert">还没有人借过这本书</div>
{% else %}
    {% for deliver in delivers %}
        <p>{{ deliver.user.nickname  }} 在 {{ deliver.borrow_time.strftime('%Y-%m-%d') }} 借过这本书</p>
    {% endfor %}
{% endif %}
<h3>简介</h3>
{% for d in book.detail %}
    <p>{{ d }}</p>
{% endfor %}





    
{% endblock %}