{% extends "base.html" %}
{% block content %}


<h3>己借书籍</h3>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>书名</th>
        <th>应归还时间</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
        {% for book in books %}
            <tr>

            <td><a href="/Detail/{{ book.id }}">{{ book.title }}</a></td>
            <td> {{ deliverys.filter(book=book).first().deadline.strftime('%Y-%m-%d') }}
            还有{{ (deliverys.filter(book=book).first().deadline - now).days }}天
            </td>
            <td>
                <a href="/return_book/{{ book.id }}">还书</a>
            </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}