{% extends "base.html" %}
{% block content %}


<h2>{{ user.nickname }}的书架</h2>
<h3>在读书籍</h3>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>书名</th>
        <th>应归还时间</th>
    </tr>
    </thead>

    <tbody>
        {% for book in user.borrowed_book %}
            <tr>
            <td><a href="/Detail/{{ book.id }}">{{ book.title }}</a></td>
            <td> {{ deliverys.filter(book=book).first().deadline.strftime('%Y-%m-%d') }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<br />
<h3>贡献书籍</h3>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>书名</th>
    </tr>
    </thead>

    <tbody>
        {% for owned_book in owned_books %}
            <tr>

            <td><a href="/Detail/{{ owned_book.id }}">{{ owned_book.title }}</a></td>


            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<h3>看过的书</h3>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
    <tr>
        <th>书名</th>
    </tr>
    </thead>

    <tbody>
        {% for delivery in deliverys %}
            <tr>

            <td><a href="/Detail/{{ delivery.id }}">{{ delivery.book.title }}</a></td>


            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}