{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
<h2>排行榜</h2>


<h3>贡献</h3>
{% if owns %}
{% for own in owns %}
    {% if own[1] > 0 %}

        <p><a href="{{ url_for('profile.user_info', id=own[2]) }}"> {{ own[0] }}</a> {{ own[1] }}</p>
    {% endif %}
{% endfor %}
{% endif %}
    
<h3>爱读书</h3>
{% if reads %}
{% for read in reads %}
    {% if read[1] > 0 %}

        <p><a href="{{ url_for('profile.user_info', id=read[2]) }}"> {{ read[0] }}</a> {{ read[1] }}</p>
    {% endif %}
{% endfor %}
{% endif %}


{% if pops %}
<h3>受欢迎</h3>
{% for pop in pops %}
    {% if pop[1] != 0 %}
        <p><a href="{{ url_for('detail.book_detail', book_id=pop[2]) }}" title="详情"> {{ pop[0] }}</a> {{ pop[1] }}</p>
    {% endif %}
{% endfor %}
{% endif %}

</div>

{% endblock %}