{% extends "base.html" %}
{% block content %}

<h2>排行榜</h2>


<h3>贡献</h3>
{% if owns %}
{% for own in owns %}
    <p><a href="/Profile/{{ own[2] }}"> {{ own[0] }}</a> {{ own[1] }}</p>
{% endfor %}
{% endif %}

# stash here
<h3>爱读书</h3>
{% if reads %}
{% for read in reads %}
    <p><a href="/Profile/{{ read[2] }}"> {{ read[0] }}</a> {{ read[1] }}</p>
{% endfor %}
{% endif %}


{% if pops %}
<h3>受欢迎</h3>
{% for pop in pops %}
    {% if pop[1] != 0 %}
        <p><a href="/Detail/{{ pop[2] }}" title="详情"> {{ pop[0] }}</a> {{ pop[1] }}</p>
    {% endif %}
{% endfor %}
{% endif %}



{% endblock %}