{% extends "base.html" %}
{% block content %}

<h3>注册</h3>
<form action="/handle_register" method="POST">
    <div class="form-group">
        {{ form.hidden_tag() }}
        用户名:
        {{ form.username(class="form-control") }}
        邮箱:
        {{ form.email(class="form-control") }}
        密码:
        {{ form.password(class="form-control") }}
        昵称:
        {{ form.nickname(class="form-control") }}
    <br />
    <div class="controls">
        <button class="btn btn-default">注册</button>
    </div>
</div>

{% endblock %}